html,
body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", serif;
}

.main-page {
  background: linear-gradient(
    270deg,
    #a5deff 0%,
    rgba(241, 240, 240, 0) 100%,
    #fcfefe 100%
  );
}

.main-page-text-container {
  border-radius: 40px;
  background: #ffffff;
  padding: 60px;
  /* display: flex;
  flex-wrap: wrap; */
}
.main-page-button {
  background: #ff6b0a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 32px;
  padding-bottom: 60px;
}

.main-page-description {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 60px;
  margin-top: 0;
}

.main-page-title {
  color: #1b1d1f;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-page-text {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.gus-facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}

.tryzub {
  margin-bottom: 24px;
}

.gus-facts-title {
  color: #1b1d1f;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
}

.gus-facts-description {
  width: 772px;
  margin: auto;
  color: #1b1d1f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.gus-fact-item-title {
  color: #1b1d1f;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 8px;
}

.gus-fact-item-description {
  color: #1b1d1f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form-section {
  background: linear-gradient(
    270deg,
    #a5deff 0%,
    rgba(241, 240, 240, 0) 100%,
    #fcfefe 100%
  );
  padding-top: 80px;
  padding-bottom: 80px;
}

.form-container {
  background: #fff;
  border-radius: 40px;
  padding: 32px 60px 60px 60px;
  max-width: 573px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.form-title {
  color: #1b1d1f;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.form-description {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  /* flex-wrap: wrap; */
}

.form-field-email {
  margin-bottom: 48px;
}

.form-field-label {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.form-field-input {
  width: 453px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #005bbb;
  padding-left: 8px;
  padding-right: 8px;
  background: #fff;
}

.form-btn {
  border-radius: 8px;
  background: #ff6b0a;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.gus-main-page {
  width: 50%;
}

@media (max-width: 1170px) {
  .wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 0;
  }
  .main-page-title {
    font-size: 44px;
  }
  .main-page-text-container {
    padding: 20px 60px 60px 60px;
  }
  .main-page-description {
    margin-bottom: 0;
  }
  .gus-facts-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .gus-main-page {
    align-self: flex-end;
  }
  .main-page-text-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 780px) {
  .gus-facts-description {
    width: auto;
  }
  .main-page-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .main-page-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 150px;
  }
  .main-page-text-container {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .form-container {
    width: auto;
    padding: 20px;
  }

  .form-field-input {
    width: 350px;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .form-container {
    padding: 10px;
  }

  .form-field-input {
    width: 280px;
    height: 42px;
  }

  .gus-facts-description {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gus-facts {
    width: 100%;
  }
  .gus-facts-img {
    width: 100%;
  }
  .gus-main-page {
    width: 100%;
  }
}
